<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>글 쓰기</title>
		
  		<link href="/public/semantic.min.css" rel="stylesheet" >
		 
		<style>
			* {
				padding:0;
				margin:0;
				box-sizing:border-box;
			}
			
			html {
				width:100%;
				height:100%;
			}
			
			body {
				width:100%;
				height:100%;
				color: #000;
				background-color: #fff;
			}
					
			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 20px;
				padding-right: 20px;
			}
	
			span {
				color: #333;
			}
	  
			#board_title {
				font-size:1.2em;
				font-weight:bold;
				color:teal;
			}
	  
		</style>
		
		<script src="/public/jquery-3.1.1.min.js"></script>
		<script src="/public/semantic.min.js"></script>
		<script type="text/javascript" src="../public/dist/js/service/HuskyEZCreator.js" charset="utf-8"></script>
		<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
		<script src="/public/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		function searchBook(code){
				win=open("/views/applyNewBook.ejs?request=0","new page","width=400,height=300");
				win.moveTo(500,100);
				
			}
			var oEditors = [];
			$.getScript("../public/dist/js/service/HuskyEZCreator.js",function(){
				
			nhn.husky.EZCreator.createInIFrame({
			 oAppRef: oEditors,
			 elPlaceHolder: "contents",
			 sSkinURI: "../public/dist/SmartEditor2Skin.html",
			 fCreator: "createSEditor2"
			});
			
		});
				function submitContents() {
		// 에디터의 내용이 textarea에 적용된다.
		oEditors.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);
		
		// 에디터의 내용에 대한 값 검증은 이곳에서
		// document.getElementById("ir1").value를 이용해서 처리한다.
		};
		</script>
	</head>
<body>
	<%include ../header.ejs }%>
    <div class="container">
	    <br>
     
		<div class="ui raised segment">
			<a class="ui blue ribbon label">게시판</a>
     			<span id="board_title">글쓰기</span>
		
			
			<div class="ui blue fluid card">
				 <div class="content">
			       
					<form class="content ui form" method="post" action="/post/addHistoryOfBook">
						<h4 class="ui dividing header">History Of Book</h4>
		
						<select name="range"  style="width:20%; hight:5px;;">
							<option value="비공개">비공개</option>
							<option value="그룹공개">그룹공개</option>
							<option value="전체공개">전체공개</option>
						</select>
						
						<div class="two fields">
				    		<div >
				      			<label>제목</label>
								<%if(post){%>
								<p>
									<%=post.title%>
								</p>
									
								<%}else{%>
									<input type="text" style="width: 99%;" name="title" id="title" placeholder="제목 입력">
								<%}%>
								
							</div>
								<%if(post){%>
								<a href="<%=post.bookinfo%>" id="imgPath">
									<img scr="" width="148" height="210" id="img">
								</a>
									
								<%}else{%>
									<input type="text" style="width: 99%;" readonly name="booktitles" id="booktitle" placeholder="책 검색 버튼을 눌러 책 정보를 채워 주세요">
								<%}%>
								
						</div>
								
						<div id="contextfiled">
							<label>내용</label>
				    	
								<%if(post){%>
							<div id="contentsOutput" class="description">	<%=post.contents%></div>
									
								<%}else{%>
									
									<textarea id="contents" name="contents" class="contents" minlength="1"  rows="10" cols="80"></textarea>
								<%}%>
						</div>		
				<br>

							<%if(post){%>
								<a class="ui button" href="/">Home</a>
								<a class="ui button"  href='/post/deleteHistoryOfBook/<%=post._id %>'>삭제</a>
							<%}else{%>
									<input class="ui submit button" type="submit" value="저장" name="" onclick="submitContents()" />
						<input class="ui button" type="button" value="취소" name="" onclick="javascript:history.back()" />
							<%}%>
						
					</form>
					
					<br><br>
						<%if(!post){%>
						<button class="btn btn-outline-secondary" onclick="searchBook()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> 책 검색</button>
					<%}%>
				</div>
			</div>
		</div>
 
	</div>
	
	<br><br>
	
</body>
</html>