<!DOCTYPE HTML>

<html>
	<head>
		<title>관리자 페이지</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
	 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
		<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
		<script src="/public/bootstrap/js/bootstrap.min.js"></script>
	
  		<link href="/public/semantic.min.css" rel="stylesheet" >
		<script src="/public/jquery-3.1.1.min.js"></script>
		<script src="/public/semantic.min.js"></script>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
	<% include ./header_admin.ejs %>
			<!-- Main -->
				<section id="main" class="container card text-center">
					<header class="card">
						<h2>관리자 페이지</h2>
						<h3 >보유 장서 수 : <%=totalbook%></h3>
					</header>
					<div class="box" id="app-6">
						<span class="image featured"><img src="../../public/tilt_logo2.png" alt="" /></span>
						
						
							<div class="row">
						<div class="col-6 col-12-narrower" >
					
							<section class="card " >
								
								<% var delayed_book=0; 
								for (var i = 0; i < books.length; i++) {
									
									var borrow_day = books[i].updated_at;
									var today = new Date();
									
									
									var dateTerm = Math.ceil((today.getTime()-borrow_day.getTime())/(1000*3600*24));
									
									if(dateTerm>14){
										delayed_book++;
										
									}
								%>
								
								<%}%>
								
							
							<h3  v-on:click="getData(0)">대출 중인 도서 수 : <%=borrowedbook%></h3>
							<h3  v-on:click="getInfo(1)">연체 중인 도서 수 : <%=delayed_book%></h3>
							<h3  v-on:click="getData(2)">회원 수 : <%=totalUser%></h3>
								
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="card "  style="height:100%;">
							
							<div >
									
								INFORMATION
								<ul>
									
								
									<li v-if=" data.title" v-for="data in datas"  v-on:click="show(data._id)">
										 제목: {{ data.title }}
									</li>
									<li v-if=" data.reservationlist" v-for="data in datas" >
										 이름: {{ data.name }}
									</li>
								</ul>
							</div>

							</section>

						</div>
					</div>
						<div class="row">
							<div class="row-6 row-12-mobilep">
						
								
							</div>
							<div class="row-6 row-12-mobilep">
								<h3></h3>
								<p></p>
							</div>
						</div>
					</div>
				</section>

		</div>
		<script>
		var app6 = new Vue({
		  el: '#app-6',
		  data: {
			datas: [],
			message:'',
			keywords:''
		  },
			// computed: {
			// filteredList() {
			//   return this.datas.filter(data => {
			// 	data.title.toLowerCase().includes(this.keywords.toLowerCase())
			//   })
			// }
			// },
        methods: {
			getData: function(num) {
				this.$http.get('/user/adminpage?search='+num) // 해당 url에서 제공하는 데이터를 가져옴.
					.then(function(response) {
					  //console.log("res:"+response[0]);    // 버튼을 클릭하여 해당 URL로 HTTP GET 요청을 보내면 response 출력.

					  this.datas = response.data
				console.log("clicked!");

					});
			  },
			getInfo: function(num) {
				 this.datas=[];
					//console.log("clicked!!");
				this.$http.get('/user/adminpage?search='+num) // 해당 url에서 제공하는 데이터를 가져옴.
					.then(function(response) {
					// 버튼을 클릭하여 해당 URL로 HTTP GET 요청을 보내면 response 출력.
 				

					var delayed_book=0; 
					for (var i = 0; i <  response.body.length; i++) {
				
					var borrow_day = response.body[i].updated_at;
						
					var today = new Date();
		
					var dateTerm = Math.ceil((today.getTime()-new Date(borrow_day).getTime())/(1000*3600*24));
						//console.log("dateTerm"+dateTerm);
						if(dateTerm>14){
							//console.log( response.body[i]);
							  this.datas.push( response.body[i]);
						}
					}
					});
			
			  },
			show:function(id){
				window.location='/book/showbook/'+id;
				
			},
    	},

		});

		</script>
		
	</body>
</html>