<footer id="footer">
	<ul class="icons">
		<li>
			<a href="https://github.com/jhCOR?tab=repositories" class="icon brands fa-github"
				><span class="label">Github</span></a
			>
		</li>
	</ul>
	<ul class="copyright">
		<li>&copy; Digital Of Pages. All rights reserved.</li>
		<li>Privacy Policy: <a href="/public/Digital_Of_Pages_Privacy Policy.html">개인정보처리방침</a></li>
		<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
</footer>