<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>유저 조회 페이지</title>
		
		<link href="/public/semantic.min.css" rel="stylesheet" >
		
		
		<style>
			* {
				padding:0;
				margin:0;
				box-sizing:border-box;
			}
			
			html {
				width:100%;
				height:100%;
			}
			
			body {
				width:100%;
				height:100%;
				color: #000;
				background-color: #fff;
			}
					
			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 20px;
				padding-right: 20px;
			}
	
			span {
				color: #999;
			}
			
			#titleOutput {
				margin-bottom: 10px;
				line-height: 1.2em;
			}
			
			#contentsOutput {
				margin-top: 10px;
				margin-bottom: 10px;
				line-height: 1.8em;
			}
	  
			#board_title {
				font-size:1.2em;
				font-weight:bold;
				color:teal;
			}
	.align{
		float: left;
	}
	.align2{
		float: right;
		display: inline;
	}
	.hidedbutton{
		display: none;
	}
	.box{
		display: inline;
	}
		</style>
	
				<link rel="stylesheet" href="/public/assets/css/main.css" />
				 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
		<script src="/public/jquery-3.1.1.min.js"></script>
		<script src="/public/semantic.min.js"></script>
		<link href="/public/cleditor/jquery.cleditor.css" rel="stylesheet" />
		<script src="/public/cleditor/jquery.cleditor.min.js"></script>
		<script>
			$(document).ready(function() {
				var output = $("#contentsOutput").text();
				
				
				$("#contentsOutput").html(output);
				 
			});

		</script>

	</head>
	<body>
	
		<div class="container" id="app-6">
		
			<div class="ui raised segment">
				<a class="ui blue ribbon label">친구 찾기</a> 
		
				<div class="ui blue fluid card">
					 <div class="content">

	   					<div class="meta">
							<p class="card-text">아이디: <strong><%= user.name %></strong></p>
	     					<p class="card-text" id="id_email"><strong><%=user.email %></strong></p>
							<p class="card-text">소속 부대: <strong><%= user.group %></strong></p>
							<p class="card-text">고유 번호/군번: <strong><%= user.own_number %></strong></p>
	     				</div>
	   						
					 </div>
	  				<div class="extra content">
	    				<div class="right floated author">
	      					
	    				</div>
	  				</div>
					
				</div> 
				<input   class="ui button align" type="button" value="북 히스토리" name="" v-on:click="getData()" v-if="!bookLog" />
				<input   class="ui button align"  style="color:orange;" type="button" value="북 히스토리" name="" v-on:click="getData()" v-if="bookLog"/>
				<input   class="ui button align" type="button" value="리뷰 히스토리" name="" v-on:click="turntoreview()"  v-if="bookLog" />
				<input   class="ui button align"   style="color:orange;" type="button" value="리뷰 히스토리" name="" v-on:click="turntoreview()"  v-if="!bookLog" />
				<div  style="overflow:scroll; width:100%; height:400px;">
					<div class="ui blue fluid card"  v-if="!bookLog" v-for="data in datas"   v-on:click="show(data._id)">
                                <div class="content">
                                    <div class="sixteen wide column">
                                        <div class="ui header" style="inline-block">
                                            <h4 class="ui left aligned header ">
                                                {{data.contents}}
                                            </h4>
                                      <h5 class="ui left aligned header ">
                                                {{data.created_at}}
                                            </h5>
												
                                        </div>
										
                                    </div>
									
										
                                </div>
                            </div>
					
						<div class="ui blue fluid card" v-if="bookLog" v-for="booklog in BookLogdatas"   v-on:click="show(booklog.bookInfo._id)">
                                <div class="content">
                                    <div class="sixteen wide column">
                                        <div class="ui header" style="inline-block">
                                            <h4 class="ui left aligned header ">
                                                {{booklog.bookInfo.title}}
                                            </h4>
                                			 <h5 class="ui left aligned header ">
                                                {{booklog.created_at}}
                                            </h5>
												
                                        </div>
										
                                    </div>
									
										
                                </div>
                            </div>
	
				</div>
				
       
			</div>
					<button type="button" class="btn btn-outline-secondary mt-2" onclick="location.href='/'">Home</button>
	
		</div>
			
			<script>
		var app6 = new Vue({
		  el: '#app-6',
		  data: {
			datas: [],
			 BookLogdatas: [],
			  bookLog:false,
			  showInput:false
		  },
		mounted() {
			 this.$nextTick(function () {
				var friendEmail = document.getElementById('id_email').innerText;
				console.log("sended");
				this.$http.get('/user/friend_profile_reivew?email='+friendEmail) 
						.then(function(response) {
						  console.log(response);   
						  this.datas = response.data


						});
				 
		  })
		},
        methods: {
			show:function(id){
				window.location='/book/showbook/'+id;
				
			},
			
			
			turntoreview:function(){
				  this.bookLog = false;
				
			},
			getData: function() {
				var friendEmail = document.getElementById('id_email').innerText;
		console.log(friendEmail);
				  this.bookLog = true;
    		this.$http.get('/user/friend_profile_bookLog?email='+friendEmail) 
					.then(function(response) {
					  console.log(response.data);  

					  this.BookLogdatas = response.data;
		
 					console.log( this.BookLogdatas[0].bookInfo);  
					});
			  },
    	},

		});

		</script>
	</body>
</html>


