<header id="header" class="alt">
	<h1><a href="/">Digital Of Pages</a> by 국직 잡스</h1>
	<nav id="nav">
		<ul>
			<% if (login_success) { %>
			<li><a href="/logout">Logout</a></li>
			<% } %>
			<li><a href="/">Home</a></li>

			<li>
				<a href="#" class="icon solid fa-angle-down">Menu</a>

				<ul>
					<li><a href="/public/generic.html">ABOUT US</a></li>
					<li><a href="/public/contact.html">Contact</a></li>
					<% if (login_success) { %>
					<li><a href="/views/myPage.ejs">My Page</a></li>

					<li>
						<a href="#">Submenu</a>
						<ul>
							<li><a href="/profile">프로필</a></li>
							<li><a href="/book/listpost?page=0&perPage=2">도서목록</a></li>
							<li><a href="/book/listapplybook?page=0&perPage=2">신청도서목록</a></li>
							<li>
								<a class="btn btn-default" href="/user/requestlist?page=0&perPage=2"
									>관리자 요청 계정 리스트</a
								>
							</li>
							<li>
								<a class="btn btn-default" href="/views/addbook.ejs">도서등록</a>
							</li>
							<li>
								<a class="btn btn-default" href="/views/applyNewBook.ejs"
									>도서신청</a
								>
							</li>
							<li>
								<a class="btn btn-default" href="/views/bookHistoryGallery.ejs"
									>독서 발자취</a
								>
							</li>
						</ul>
					</li>
					<% }%>
				</ul>
			</li>
			<% if (!login_success) { %>
			<li><a href="/login" class="button">Login</a></li>
			<%}%>
		</ul>
	</nav>
</header>