<header >
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
		<a class="navbar-brand" href="/">Digital Of Pages</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			
			<% if (login_success) { %> 
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="/profile">프로필</a>
			</li>

			<%}%>

			
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="/dev/announcement?page=0&request=dev">개발자 공지사항</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="/admin/announcement?page=0&request=admin">관리자 공지사항</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				메뉴
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<% if (login_success) { %> 
				<li><a class="dropdown-item" href="/views/myPage">My Page</a></li>
				<li><a class="dropdown-item" href="/views/applyNewBook.ejs?request=1">도서신청</a></li>
				<li><a class="dropdown-item" href="/historyofbook?page=0&perPage=8">독서 발자취</a></li>
				<li><a class="dropdown-item" href="/book/listpost?page=0&perPage=2">도서목록</a></li>
				<li><a class="dropdown-item" href="/book/listapplybook?page=0&perPage=2">신청도서목록</a></li>
				<%}%>
				<li><hr class="dropdown-divider"></li>
				<% if (admin=='accepted') { %>	
				<li><a class="dropdown-item" href="/user/admin">관리자 페이지</a></li>
				
				<%}%>
				  	<% if (admin=='root') { %>	
				<li><a class="btn btn-default" href="/user/requestlist?page=0&perPage=2">관리자 요청 리스트</a></li>
				  <%}%>
			  </ul>
			</li>

		  </ul>

		
			<% if (login_success) { %> 
			<form method="get" class="d-flex" action="/book/search" style="margin-right:10px;">
        	<input type="text" class="form-control me-2"  name="search"  minlength="2" placeholder="" >
        	<button class="btn btn-outline-success" value="search" type="submit">Search</button>
       		</form>
			 <a class="btn btn-outline-warning"  aria-current="page" href="/logout">Logout</a>
			<%}else{%>
			  <a class="btn btn-outline-warning" aria-current="page" href="/login">Login</a>
			<%}%>

		</div>
	  </div>
	</nav>
</header>