<header id="header" class="alt">
	<h1 ><a href="/"><span style="color: black;">Digital Of Pages</span></a><span style="color: black;"> by 국직 잡스</span></h1>
	<nav id="nav">
		<ul>
			<% if (login_success) { %>
			<li><a href="/logout"><span style="color: black;">Logout</span></a></li>
			<% } %>
			<li><a href="/"><span style="color: black;">Home</span></a></li>

			<li>
				<a href="#" class="icon solid fa-angle-down"><span style="color: black;">Menu</span></a>

				<ul>
					<li><a href="/public/generic.html"><span style="color: black;">ABOUT US</span></a></li>
				
				
					<li><a href="/dev/announcement?page=0&request=dev"><span style="color: black;">개발자 공지사항</span></a></li>
					<li><a href="/admin/announcement?page=0&request=admin"><span style="color: black;">관리자 공지사항</span></a></li>
					<% if (login_success) { %>
					<li><a href="/views/myPage">My Page</a></li>

					<li>
						<a href="#">Submenu</a>
						<ul>
							<li><a href="/profile">프로필</a></li>
							
							<li><a href="/book/listpost?page=0&perPage=2">도서목록</a></li>
							<% if (admin=='accepted') { %>
							<li><a href="/book/listapplybook?page=0&perPage=2">신청도서목록</a></li>
						
							<li>
								<a class="btn btn-default" href="/user/requestlist?page=0&perPage=2">관리자 요청 계정 리스트</a>
							</li>
							
							<li>
								<a class="btn btn-default" href="#">소속원 등록</a>
							</li>
							
							<li>
								<a class="btn btn-default" href="/views/addbook.ejs">도서등록</a>
							</li>
							<%}%>
							<li>
								<a class="btn btn-default" href="/views/applyNewBook.ejs?request=1"
									>도서신청</a
								>
							</li>
							<li>
								<a class="btn btn-default" href="/historyofbook?page=0&perPage=8"
									>독서 발자취</a
								>
							</li>
						</ul>
					</li>
					<% }%>
				</ul>
			</li>
			<% if (!login_success) { %>
			<li><a href="/login" class="button">Login</a></li>
			<%}%>
		</ul>
	</nav>
</header>