<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <script src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script> -->
  <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <form>
    <textarea id="ckeditor" name="content"></textarea>
  </form>

  <script>
    CKEDITOR.replace('ckeditor', {
      uploadUrl: '/upload'
    });
  </script>
</body>

</html>