<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Digital Of Pages</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
	<script>
		window.onload=function(){
		var response = window.matchMedia("(min-width: 430px)");

		if (response.matches) {

		} else {
			
			document.getElementById("responsible").style.display="none";
			
		}
		}

</script>
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<% include ./header.ejs %>

			<!-- Banner -->
				<section id="banner">
					
				</section>

			<!-- Main -->
				<section id="main" class="container ">

					<section class="box special">
						<header class="major">
				
						<div id="app-6">
								<h2 >공지사항</h2>
								<div  v-if="!datas">
							DOP, 어떤 도서관이든 쉽게 도서 관리 체계를 구축하다.
							</div>	
							<div v-else>
								
								<ul>
								
									<li v-for="data in datas"   v-on:click="show(data._id)">
										{{ data.title}}
									</li>
								</ul>
							</div>
						
						</div>

						</header>
						<span class="image featured"><img src="images/book.png" alt="" /></span>
					</section>

					<section class="box special">
						<header class="major">
				
						<div id="app-7">
								<h2 >신간</h2>
								<div  v-if="!Bookdatas">
							도서 관리 체계의 보급에 사용자 데이터 가공까지 All in One.
							</div>	
							<div v-else>
								
								<ul>
								
									<li v-for="Bookdata in Bookdatas"   v-on:click="show(Bookdata._id)">
										{{ Bookdata.title}}
									</li>
								</ul>
							</div>
						
						</div>

						</header>
						<span class="image featured"><img src="images/book.png" alt="" /></span>
					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">
					 <a name="target"> </a><!--앵커 -->
							<section class="box special">
								<span class="image featured"><img src="/public/images/notes.png" alt="" /></span>
								<h3>Book History</h3>
								<p>각자의 독서 역사를 기록해 보세요! 매번 새로운 독서 기록을 적는게 아닙니다! 여려분들의 책을 만들어 나가는 거죠!</p>
								
								<ul class="actions special">
									<% if (!login_success) { %>
									 <li><a href="#" class="button alt">Learn More</a></li>
									<% } else { %>
						
									<li><a href="/addhistory" class="button">start</a></li>
									<% } %>
									
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="/public/images/lucky.png" alt="" /></span>
								<h3>Today's Book?</h3>
								<p>뭘 읽을지 모르겠다구요? 저희를 믿어보세요! 오늘 소중한 당신에게 소개될 운 좋은 책의 주인공은 어떤게 될까 기대됩니다!</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Today's Lucky Book</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">
					<h2>Search</h2>
					<p>소속부대 뿐 아니라 모든 등록된 도서를 대상으로 검색합니다. 소속부대 등록도서 검색은 Menu에서 지원됩니다.</p>
					<form method="get" action="/book/search">
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<input type="text" name="search"  minlength="2" placeholder="" />
								
							</div>
							<div class="col-4 col-12-mobilep">
							
								<input type="submit" value="search" class="fit" />
							</div>
						</div>
					</form>
				</section>
			<!-- Footer -->
			<% include ./footer.ejs %>

		</div>
		<script>
		var app6 = new Vue({
		  el: '#app-6',
		  data: {
			datas: [],
		  },
	mounted() {
 		 this.$nextTick(function () {
			 
	  		console.log("sended");
    		this.$http.get('/index/announce') 
					.then(function(response) {
					  console.log(response);   
					  this.datas = response.data
		

					});
  })
},
        methods: {
			show:function(id){
				window.location='/announce/show/'+id;
				
			},
			getData: function() {
		console.log("sended");
    		this.$http.get('/index/announce') 
					.then(function(response) {
					  console.log(response);  

					  this.datas = response.data
		

					});
			  },
    	},

		});

		</script>
		<script>
		var app7 = new Vue({
		  el: '#app-7',
		  data: {
			Bookdatas: [],
		  },
	mounted() {
 		 this.$nextTick(function () {
			 
	  		console.log("send!!");
    		this.$http.get('/index/newBook') 
					.then(function(response) {
				 console.log('response'); 
					  console.log(response);    

					  this.Bookdatas = response.data
		

					});
  })
},
        methods: {
			show:function(id){
				window.location='/book/showbook/'+id;
				
			},

    	},

		});

		</script>
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.dropotron.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/browser.min.js"></script>
			<script src="/public/assets/js/breakpoints.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>