<!DOCTYPE html>
<html>
	<head>
	
    
	</head>
	<body>
		
				<% if (login_success) { %>
				

					<a href="/profile" class="btn btn-default">프로필</a> 
					<a href="/logout" class="btn btn-default">logout</a> 
					<a class="btn btn-default" href='/book/listpost?page=0&perPage=2'>도서목록</a>
					<a class="btn btn-default" href='/views/addbook.ejs'>도서등록</a>
					<a class="btn btn-default" href='/views/myPage.ejs'>마이페이지</a>
				<% } else { %>

			        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>로그인</a>
			        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>회원가입</a>
				<% } %>
		    </div>
			
		</div>
		
	</body>
</html>