<!DOCTYPE html>
<html>
	<head>
	
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	</head>
	<body>
		<h1>
			Digital Of Page
		</h1>
				<% if (login_success) { %>
				

					<a href="/profile" class="btn btn-default">프로필</a> 
					<a href="/logout" class="btn btn-default">logout</a> 
					<a class="btn btn-default" href='/book/listpost?page=0&perPage=2'>도서목록</a>
					<a class="btn btn-default" href='/book/listapplybook?page=0&perPage=2'>신청도서목록</a>
					<a class="btn btn-default" href='/user/requestlist?page=0&perPage=2'>관리자 요청 계정 리스트</a>
					<a class="btn btn-default" href='/views/addbook.ejs'>도서등록</a>
					<a class="btn btn-default" href='/views/applyNewBook.ejs'>도서신청</a>
					<a class="btn btn-default" href='/views/myPage'>마이페이지</a>
		
				<% } else { %>

			        <a href="/login" class="btn btn-default"><span class="fa "></span>로그인</a>
			        <a href="/signup" class="btn btn-default"><span class="fa "></span>회원가입</a>
		 			
				<% } %>
		    </div>
			
		</div>
		
	</body>
</html>