<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>프로필 화면</title>
		<link rel="SHORTCUT ICON" href="/public/images/faviconlogo.png"/>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    
	</head>
	<body>
		
		<div class="container">			
			<br>
		    <div class="row">
		
		        <div class="col-sm-6">
		            <div class="well">
		            
						<% if (user.provider == undefined || user.provider == '') { %>
							
						<div >
							<h3></span> 로컬 프로필</h3>
							<br>
							<p>
								<strong>이메일</strong>: <%= user.email %><br><br>
								<strong>별명</strong>: 
								<form class="btn btn-default btn-sm"  method="post" action="/process/modifyUser">
									<input type="text" id="modifyId" readonly name="idmodify" value="<%= user.name %>">
									<input hidden type="text" name="email" value="<%=user.email %>">
									<input type="button" id="modifyButton" style="float:right;" value="수정" onclick="modify()" />
									<input type="submit" id="modifyButton2"  style="float:right; display:none;" value="완료" onclick="modify()" />
								</form>
								
								<P></P>
								<a href='/' class="btn btn-default btn-sm">홈</a>
								<a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
								<form class="btn btn-default btn-sm" method="post" action="/process/deleteUser">
									<input hidden type="text" name="id" value="<%=user.email %>">
									<input type="submit" value="탈퇴" name="" />
								</form>
			                </p>
						</div>	

			            <% }  %>
							
						<br>
		            </div>
		        </div>
		
		    </div>
			
		</div>	
			
	</body>
</html>