<h3  onclick="javascript:window.location=''">보유 장서 수 : <%=totalbook%></h3>
							<h3 >대출 중인 도서 수 : <%=borrowedbook%></h3>
							<h3 >연체 중인 도서 수 : <%=delayed_book%></h3>
							<h3 >회원 수 : <%=totalUser%></h3>