<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Digital Of Pages</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<link rel="stylesheet" href="/public/assets/css/main.css" />

	</head>
	<body class="landing is-preload">


			<!-- Header -->
			<header id="header" class="alt">
						<h1 style="color:black;"><a style="color:black;" href="/">Digital Of Pages</a> by 국직 잡스</h1>
						<nav style="color:black;" id="nav">
							<ul>
								<% if (login_success) { %>
								<li><a style="color:black;" href="/logout" >Logout</a></li>
								<% } %>
								<li><a style="color:black;" href="/">Home</a></li>

								<li>

									<a href="#" style="color:black;" class="icon solid fa-angle-down">Menu</a>

									<ul>
										<li><a style="color:black;" href="/public/generic.html">ABOUT US</a></li>
										<li><a style="color:black;" href="/public/contact.html">Contact</a></li>
										<% if (login_success) { %>
										<li><a style="color:black;" href='/views/myPage'>My Page</a></li>

										<li>
											<a style="color:black;" href="#">Submenu</a>
											<ul>

												<li><a href="/profile">프로필</a> </li>
												<li><a href='/book/listpost?page=0&perPage=2'>도서목록</a></li>
												<li><a  href='/book/listapplybook?page=0&perPage=2'>신청도서목록</a></li>
												<li><a class="btn btn-default" href='/user/requestlist?page=0&perPage=2'>관리자 요청 계정 리스트</a></li>
												<li><a class="btn btn-default" href='/views/addbook.ejs'>도서등록</a></li>
												<li><a class="btn btn-default" href='/views/applyNewBook.ejs'>도서신청</a></li>
												<li><a class="btn btn-default" href='/views/bookHistoryGallery.ejs'>독서 발자취</a></li>

											</ul>
										</li>
										<% }%>

									</ul>
								</li>
								<% if (!login_success) { %>
								<li><a href="/login" class="button">Login</a></li>
								<%}%>
							</ul>
						</nav>
			</header>
				
   			<div  class="box" id="widgetbox" style=" margin-left: 1%; position: relative; ">
					
			<%for(var i=0;i<posts.reservationlist.length; i++){%>
				<input type="button" class="data" value="<%= posts.reservationlist[i].title %>" onclick="addWidget(<%= posts.reservationlist[i].title %>)">
			<%}%>
			</div>

		

		

			<script>
			
				
			function addWidget(idNumber){
			 console.log("addWidget_play!");
				var widgetbox=document.getElementById("widgetbox");
				var idNumberToString=idNumber+"";
				var newButton=document.createElement("button");
				newButton.id='W'+i;
				i++;

				newButton.style.position="absolute";
				newButton.style.left=0;
				newButton.style.top=0;

				var newText=document.createTextNode(idNumberToString);
				widgetbox.appendChild(newButton);
				newButton.appendChild(newText);
	
			}
			</script>
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.dropotron.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/browser.min.js"></script>
			<script src="/public/assets/js/breakpoints.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>